body{
    background: #036;
}


header{
    max-width: 1000px;
    min-height: 130px;
    background: #ccc;
    margin: auto;
    border-radius: 20px 20px 0 0 ;

}

#menu-h{
    max-width: 1000px;
    min-height: 50px;
    background: #000;
    margin: 0 auto;
}

#banner{

    max-width: 1000px;
    min-height: 250px;
    background: #444;
    margin: 0 auto;
}

#contenedor{
    max-width: 1000px;
    min-height: 700px;
    background: #fff;
    margin: 0 auto;

}

#menu-v{
    width: 300px;
    min-height: 700px;
    background: #ccc;
    float: left;
}


#contenido{

    width: 700px;
    min-height: 700px;
    background: #fff;
    float: right;
}

footer{
  max-width: 1000px;
  min-height: 130px;
  background: #000;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px ;
}

